// config.mjs.tmpl placeholder

export default {
  url: "{{ .DocsSite }}",
  basePath: "{{ .DocsBase }}",
  github: "{{ .Repository }}",
  title: "{{ .ProjectName }}",
  description: "{{ .Description }}",
};
