const stage = process.env.NODE_ENV || "dev"
const isProduction = stage === "production"

export default {
  url: isProduction ? "{{ .DocsSite }}" : "http://localhost:4321",
  basePath: isProduction ? "{{ .DocsBase }}" : "/",
  github: "{{ .Repository }}",
  githubDocs: "{{ .Repository }}",
  title: "{{ .ProjectName }}",
  description: "{{ .Description }}",
}
